.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar {
  height: 76px;
}
.about-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.about-image {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.about-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-text01 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-link {
  text-decoration: none;
}
.about-hero {
  height: 747px;
}
.about-max-width1 {
  align-items: center;
}
.about-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.about-subtitle {
  color: var(--dl-color-scheme-orange100);
  margin-bottom: var(--dl-space-space-unit);
}
.about-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-description {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-text06 {
  color: #eff3f2;
  font-size: 20px;
}
.about-link1 {
  text-decoration: none;
}
.about-image1 {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.about-container2 {
  width: 172px;
  height: 276px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('file:///C:/Users/hans.nelson/OneDrive%20-%20Ever.Ag/Pictures/profile1.jpg');
  background-position: center;
}
.about-image2 {
  width: 200px;
  object-fit: cover;
}
.about-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.about-image3 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
.about-footer {
  width: 895px;
  height: 226px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.about-container3 {
  width: 174px;
  height: 99px;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.about-text10 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link2 {
  text-decoration: none;
}
.about-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-container4 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .about-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .about-description {
    color: var(--dl-color-scheme-white);
  }
  .about-container1 {
    height: 153px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .about-text06 {
    color: #ffffff;
    font-size: 20px;
    box-shadow: inherit;
  }
  .about-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .about-image2 {
    height: 100%;
  }
  .about-footer {
    flex-direction: column;
  }
  .about-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .about-container4 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .about-links {
    display: none;
  }
  .about-max-width1 {
    flex-direction: column-reverse;
  }
  .about-content {
    width: 100%;
    margin-right: 0px;
  }
  .about-container1 {
    height: 112px;
  }
  .about-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-container4 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .about-navbar {
    height: 14px;
  }
  .about-hero {
    height: 936px;
  }
  .about-max-width1 {
    width: 381px;
    height: 1196px;
    padding-top: 0px;
  }
  .about-description {
    color: var(--dl-color-scheme-white);
  }
  .about-container1 {
    height: 127px;
  }
  .about-link1 {
    height: 63px;
  }
  .about-footer {
    height: 202px;
    padding: var(--dl-space-space-unit);
  }
  .about-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-container4 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
